/* Add CSS Styling */
.click, 
.unclick {
    font-family: Helvetica, "Times New Roman", sans-serif;
    font-size:  28px;
}


.click {
    background-color: black;
    color: white;
}

.unclick {
    background-color: yellow;
}